<h1><%= t ".home" %></h1>
<div class="row">
  <div class="col-md-4"><h3 class="center"><%= t ".course" %></h3></div>
  <div class="col-md-4"><h3 class="center"><%= t ".course" %></h3></div>
  <div class="col-md-4"><h3 class="center"><%= t ".course" %></h3></div>
</div>
<br><br><br><br>
<div class="row">
  <div class="col-md-4"><h3 class="center"><%= t ".course" %></h3></div>
  <div class="col-md-4"><h3 class="center"><%= t ".course" %></h3></div>
  <div class="col-md-4"><h3 class="center"><%= t ".course" %></h3></div>
</div>
