<% provide :submit_title, t(".submit") %>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <br><br><br>
    <h2 id="welcome1"><%= t ".welcome" %></h2>
    <h2 id="welcome2"><%= t ".e_learning" %></h2>
  </div>
  <div class="col-md-4">
    <h1><%= t ".sign_up" %></h1>
    <%= form_for @user do |f| %>
      <%= render "form" %>
    <% end %>
  </div>
</div>
