<header class="navbar navbar-fixed-top" id="ihead">
  <div class="container">
    <%= link_to "E-learning", "#", id: "logo" %>
    <nav>
      <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t(".category"), Settings.default_params.href %></li>
          <li><%= link_to t(".lesson"), Settings.default_params.href %></li>
          <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t(".log_in"), login_path %></li>
          <li><%= link_to t(".sign_up"), signup_path %></li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>
